DISCORD_TOKEN=
DISCORD_GUILD_ID=
WEEKLY_REPORT_FORUM_ID=
SCRUM_MASTER_CHANNEL_ID=

JOLINE_DISCORD_ID=
JOLINE_DAILY_FORUM_ID=
DAVID_DISCORD_ID=
DAVID_DAILY_FORUM_ID=
DUY_DISCORD_ID=
DUY_DAILY_FORUM_ID=

TIMEZONE=Europe/Berlin
DAILY_OPEN_CRON=0 9 * * 1-5
DAILY_REMINDER_CRON=0 11 * * 1-5
DAILY_FINAL_REMINDER_CRON=45 11 * * 1-5
DAILY_DEADLINE_CRON=0 12 * * 1-5
GIT_REMINDER_CRON=30 16 * * 1-5
WEEKLY_REPORT_CRON=0 14 * * 5
