DISCORD_TOKEN=
DISCORD_GUILD_ID=

WEEKLY_REPORT_FORUM_ID=
SCRUM_MASTER_CHANNEL_ID=
SCRUM_INFO_CHANNEL_ID=
MEETING_CREATE_CHANNEL_ID=
MEETING_VOICE_CHANNEL_ID=
ALFAVIEW_MEETING_URL=https://app.alfaview.com/#/join/...

JOLINE_DISCORD_ID=
JOLINE_DAILY_FORUM_ID=
DAVID_DISCORD_ID=
DAVID_DAILY_FORUM_ID=
DUY_DISCORD_ID=
DUY_DAILY_FORUM_ID=

TIMEZONE=Europe/Berlin
TRACKING_START_DATE=2026-09-28

DAILY_OPEN_CRON=0 9 * * 1-5
DAILY_REMINDER_CRON=0 15 * * 1-5
DAILY_EVENING_REMINDER_CRON=0 20 * * 1-5
DAILY_MISSING_REPORT_CRON=5 8 * * 2-6

PUSH_REMINDER_AFTER_HOURS=6
PUSH_REMINDER_CHECK_CRON=*/10 * * * *

# Freitags ab 14:00 alle 30 Minuten prüfen. Der Bericht wird nur einmal erzeugt,
# sobald Freitag für alle Teammitglieder mit Daily+Feierabend oder Abmeldung abgeschlossen ist.
WEEKLY_REPORT_CRON=*/30 14-22 * * 5
